<div id="map_canvas">
  <div id="map"></div>
</div>

<script src="../../js/location.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcZqN_Lv3UHYNA7tfQpPo3kb0C6C8_f5g&callback=initMap">